ClienteOperacionMantenimiento/Service References/SistemaAlarmasSR/ServiciosMantenimientoImp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiciosMantenimientoImp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53612/ServiciosMantenimientoImp.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53612/ServiciosMantenimientoImp.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53612/ServiciosMantenimientoImp.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:53612/ServiciosMantenimientoImp.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LogicaNegocio" />
      <xsd:import schemaLocation="http://localhost:53612/ServiciosMantenimientoImp.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiciosMantenimiento_GetClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientes" />
  </wsdl:message>
  <wsdl:message name="IServiciosMantenimiento_GetClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosMantenimiento_GetAlarmasConfiguradas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmasConfiguradas" />
  </wsdl:message>
  <wsdl:message name="IServiciosMantenimiento_GetAlarmasConfiguradas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlarmasConfiguradasResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosMantenimiento_ModificarAlarma_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarAlarma" />
  </wsdl:message>
  <wsdl:message name="IServiciosMantenimiento_ModificarAlarma_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarAlarmaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiciosMantenimiento_ObtenerEstadisticas_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadisticas" />
  </wsdl:message>
  <wsdl:message name="IServiciosMantenimiento_ObtenerEstadisticas_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadisticasResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiciosMantenimiento">
    <wsdl:operation name="GetClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosMantenimiento/GetClientes" message="tns:IServiciosMantenimiento_GetClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosMantenimiento/GetClientesResponse" message="tns:IServiciosMantenimiento_GetClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlarmasConfiguradas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosMantenimiento/GetAlarmasConfiguradas" message="tns:IServiciosMantenimiento_GetAlarmasConfiguradas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosMantenimiento/GetAlarmasConfiguradasResponse" message="tns:IServiciosMantenimiento_GetAlarmasConfiguradas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarAlarma">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosMantenimiento/ModificarAlarma" message="tns:IServiciosMantenimiento_ModificarAlarma_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosMantenimiento/ModificarAlarmaResponse" message="tns:IServiciosMantenimiento_ModificarAlarma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstadisticas">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiciosMantenimiento/ObtenerEstadisticas" message="tns:IServiciosMantenimiento_ObtenerEstadisticas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiciosMantenimiento/ObtenerEstadisticasResponse" message="tns:IServiciosMantenimiento_ObtenerEstadisticas_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiciosMantenimiento" type="tns:IServiciosMantenimiento">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetClientes">
      <soap:operation soapAction="http://tempuri.org/IServiciosMantenimiento/GetClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAlarmasConfiguradas">
      <soap:operation soapAction="http://tempuri.org/IServiciosMantenimiento/GetAlarmasConfiguradas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarAlarma">
      <soap:operation soapAction="http://tempuri.org/IServiciosMantenimiento/ModificarAlarma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstadisticas">
      <soap:operation soapAction="http://tempuri.org/IServiciosMantenimiento/ObtenerEstadisticas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiciosMantenimientoImp">
    <wsdl:port name="BasicHttpBinding_IServiciosMantenimiento" binding="tns:BasicHttpBinding_IServiciosMantenimiento">
      <soap:address location="http://localhost:53612/ServiciosMantenimientoImp.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>